<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- Apps -->
        <add key="AppKey" value="" />
        <add key="DumpFile" value="False" />
      <!-- Window Position -->
        <add key="WindowTop" value="0" />
        <add key="WindowLeft" value="0" />
        <add key="WindowHeight" value="550" />
      <!-- Record Settings -->
        <add key="TimeoutInMinute" value="15" />
        <add key="CheckBeforeRecording" value="False" />
      <!-- Host -->
        <add key="AppHost" value="app.mangolive.tv" />
        <add key="MobileHost" value="m.mangolive.tv" />
      <!-- Account -->
        <add key="Username" value="62895377348858" />
        <add key="Password" value="PHQ3ujlfQojtYjVmzTS%2BI9MV79FaJ%2BTGDPHg5opTnWzDf9CELurtGm1NNAxXvzqHRGoGCtZ1%2F2iUA40cb4HpeLj5TmnhwDmOaxnmHa1t2k%2B5CteQdnJRPhWSWe5SyHDiVkii5jtxi2Ux4b5lsbay%2FWwzUaSuuTOcDNuupNacMEE%3D" />
    </appSettings>
</configuration>