<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="WindowHeight" value="550" />
        <add key="RetryTimeoutInMinute" value="15" />
        <add key="Login" value="true" />
        <add key="Username" value="62895377348858" />
        <add key="Password" value="d1jJ8nMd50wzneu3MA2q6JpQuJj5UrbA2RSwCsbtRrEZY1ER2oe/ZckJMLtwLCKs7YyzY/IEOO4+Xa1NORn8HLZTtQfgHxK4I5ZNOGJsU6aWxuW7Zqr57/aNZ9epluxpkUu+o3rFtYJWkABUB8rGz70Xzs3J4LB3SnCT2zqKccc=" />
    </appSettings>
</configuration>